<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="box">
    姓：<input type="text" v-model="firsName"><br>
    名：<input type="text" v-model="lastName"><br>
    姓名：<span>{{funllName()}}</span>
</div>
</body>
<script src="../js/vue.js"></script>

<script>
new Vue ({
    el:'#box',
    data:{
        firsName:'阿',
        lastName:'伟'
    },
    methods:{
        funllName(){
            return this.firsName+'-'+this.lastName;
        }
    }
})
</script>

</html>